In [4]:
import pandas as pd
import mysql.connector

In [5]:

restaurants_df = pd.read_csv("Bangalore_Restaurants.csv")
print(restaurants_df)

           Restaurant_Name                                           Category  \
0              Burma Burma  Asian, Burmese, Bubble Tea, Salad, Tea, Desser...
1     Windmills Craftworks  Continental, Fast Food, Kebab, Beverages, Ital...
2           CTR Shri Sagar                                       South Indian
3     Brahmin's Coffee Bar                                       South Indian
4         Milano Ice Cream                     Desserts, Ice Cream, Beverages
...                    ...                                                ...
5104     Chopstick Kitchen                            Chinese, Momos, Seafood
5105         Punjabi Dhaba                                       North Indian
5106  Abhiruchi Restaurant  Biryani, Andhra, North Indian, Chinese, Hydera...
5107      The Q Restaurant                      North Indian, Chinese, Kerala
5108      Flavors Of India           North Indian, Chinese, Andhra, Fast Food

      Pricing_for_2                          Locality  Dining_Rating  \
0              1500            Indiranagar, Bangalore            4.9
1              2500   Windmills Craftworks, Bangalore            4.9
2               150           Malleshwaram, Bangalore            4.9
3               100           Basavanagudi, Bangalore            4.9
4               400            Indiranagar, Bangalore            4.9
...             ...                               ...            ...
5104            600         CV Raman Nagar, Bangalore            3.3
5105            600                 Jakkur, Bangalore            3.3
5106            550          Sarjapur Road, Bangalore            3.3
5107            550               Nagawara, Bangalore            3.3
5108            800           Marathahalli, Bangalore            3.3

      Dining_Review_Count  Delivery_Rating  Delivery_Rating_Count  \
0                  2790.0              4.5                  838.0
1                  6543.0              4.2                  524.0
2                  4837.0              4.3                22100.0
3                  2975.0              4.4                  372.0
4                  2575.0              4.4                 1180.0
...                   ...              ...                    ...
5104                 79.0              3.1                  895.0
5105                 21.0              3.9                  878.0
5106                 36.0              3.8                 4300.0
5107                 97.0              NaN                    0.0
5108                 34.0              NaN                   11.0

                                                Website  \
0     https://www.zomato.com/bangalore/burma-burma-i...
1     https://www.zomato.com/bangalore/windmills-cra...
2     https://www.zomato.com/bangalore/ctr-shri-saga...
3     https://www.zomato.com/bangalore/brahmins-coff...
4     https://www.zomato.com/bangalore/milano-ice-cr...
...                                                 ...
5104  https://www.zomato.com/bangalore/chopstick-kit...
5105  https://www.zomato.com/bangalore/punjabi-dhaba...
5106  https://www.zomato.com/bangalore/abhiruchi-res...
5107  https://www.zomato.com/bangalore/the-q-restaur...
5108  https://www.zomato.com/bangalore/flavors-of-in...

                                                Address     Phone_No  \
0     607, Ground Floor, 12th Main, Hal 2nd Stage, I...  9.18043E+11
1     78, Immaine Epip Industrial Area, Whitefield B...   9.1888E+11
2      7th Cross, Margosa Road, Malleshwaram, Bangalore  9.18023E+11
3          Ranga Rao Road, Near Basavanagudi, Bangalore  9.19845E+11
4     460, 2nd Cross, Krishna Temple Road, Indiranag...  9.18041E+11
...                                                 ...          ...
5104  Shop 4, Kalpavruksha Complex, 13th Cross, Cauv...  9.19008E+11
5105  547, Opposite Rashtrotana School, RK Hegde Nag...  9.18126E+11
5106  Site 6/2, Food World Supply Market Road, 12th ...   9.1805E+11
5107  Opposite To Manyata Tech Park, Outer Ring Road...  9.18951E+11
5108     43, Kundanahalli Gate, Marathahalli, Bangalore  9.19513E+11

       Latitude  Longitude
0     12.970394  77.644713
1     12.982413  77.721979
2     12.998270  77.569455
3     12.954043  77.568865
4     12.979121  77.644039
...         ...        ...
5104  12.977300  77.665640
5105  13.068979  77.633497
5106  12.908860  77.680574
5107  12.913854  77.608900
5108  12.955789  77.714532

[5109 rows x 13 columns]

In [6]:
print(restaurants_df.head())

        Restaurant_Name                                           Category  \
0           Burma Burma  Asian, Burmese, Bubble Tea, Salad, Tea, Desser...
1  Windmills Craftworks  Continental, Fast Food, Kebab, Beverages, Ital...
2        CTR Shri Sagar                                       South Indian
3  Brahmin's Coffee Bar                                       South Indian
4      Milano Ice Cream                     Desserts, Ice Cream, Beverages

   Pricing_for_2                          Locality  Dining_Rating  \
0           1500            Indiranagar, Bangalore            4.9
1           2500   Windmills Craftworks, Bangalore            4.9
2            150           Malleshwaram, Bangalore            4.9
3            100           Basavanagudi, Bangalore            4.9
4            400            Indiranagar, Bangalore            4.9

   Dining_Review_Count  Delivery_Rating  Delivery_Rating_Count  \
0               2790.0              4.5                  838.0
1               6543.0              4.2                  524.0
2               4837.0              4.3                22100.0
3               2975.0              4.4                  372.0
4               2575.0              4.4                 1180.0

                                             Website  \
0  https://www.zomato.com/bangalore/burma-burma-i...
1  https://www.zomato.com/bangalore/windmills-cra...
2  https://www.zomato.com/bangalore/ctr-shri-saga...
3  https://www.zomato.com/bangalore/brahmins-coff...
4  https://www.zomato.com/bangalore/milano-ice-cr...

                                             Address     Phone_No   Latitude  \
0  607, Ground Floor, 12th Main, Hal 2nd Stage, I...  9.18043E+11  12.970394
1  78, Immaine Epip Industrial Area, Whitefield B...   9.1888E+11  12.982413
2   7th Cross, Margosa Road, Malleshwaram, Bangalore  9.18023E+11  12.998270
3       Ranga Rao Road, Near Basavanagudi, Bangalore  9.19845E+11  12.954043
4  460, 2nd Cross, Krishna Temple Road, Indiranag...  9.18041E+11  12.979121

   Longitude
0  77.644713
1  77.721979
2  77.569455
3  77.568865
4  77.644039

In [7]:
import mysql.connector

In [19]:
db = mysql.connector.connect(host="localhost",user="root",password="Logesh",database="zomoto")
cursor = db.cursor()
print(db)

<mysql.connector.connection.MySQLConnection object at 0x0000021D11676360>

In [20]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Restaurants (
        id INT AUTO_INCREMENT PRIMARY KEY,
        restaurant_name VARCHAR(255),
        latitude FLOAT,
        longitude FLOAT
    )
""")
#cursor.execute(create_table_query)
db.commit()

print("âœ… Table 'restaurants' is ready!")

âœ… Table 'restaurants' is ready!

In [23]:
print(restaurants_df.columns)

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Dining_Review_Count', 'Delivery_Rating',
       'Delivery_Rating_Count', 'Website', 'Address', 'Phone_No', 'Latitude',
       'Longitude'],
      dtype='object')

In [29]:

for _, row in restaurants_df.iterrows():
    cursor.execute(
        "INSERT INTO Restaurants (restaurant_name, latitude, longitude) VALUES (%s, %s, %s)",
        (row['restaurant_name'], row['latitude'], row['longitude'])
    )

In [30]:
db.commit()
print("Data inserted successfully!")

Data inserted successfully!

In [34]:
home_lat = 12.9716  
home_lon = 77.5946

In [35]:
query = """
    SELECT 
        restaurant_name,
        latitude,
        longitude,
        ROUND(111.1 * SQRT(POW(latitude - %s, 2) + POW(longitude - %s, 2)), 0) AS distance_km,
        RANK() OVER (ORDER BY distance_km ASC) AS rank_distance,
        DENSE_RANK() OVER (ORDER BY distance_km ASC) AS dense_rank_distance
    FROM Restaurants
    ORDER BY distance_km;
"""

In [39]:
query = """
    SELECT 
        restaurant_name,
        latitude,
        longitude,
        ROUND(111.1 * SQRT(POW(latitude - %s, 2) + POW(longitude - %s, 2)), 0) AS distance_km,
        RANK() OVER (ORDER BY ROUND(111.1 * SQRT(POW(latitude - %s, 2) + POW(longitude - %s, 2)), 0) ASC) AS rank_distance,
        DENSE_RANK() OVER (ORDER BY ROUND(111.1 * SQRT(POW(latitude - %s, 2) + POW(longitude - %s, 2)), 0) ASC) AS dense_rank_distance
    FROM Restaurants
    ORDER BY distance_km;
"""

cursor.execute(query, (home_lat, home_lon, home_lat, home_lon, home_lat, home_lon))
results = cursor.fetchall()

In [40]:
columns = ["restaurant_name", "latitude", "longitude", "distance_km", "rank_distance", "dense_rank_distance"]
df_results = pd.DataFrame(results, columns=columns)
print(df_results.head(10))

                restaurant_name  latitude  longitude  distance_km  \
0                         Shiro   12.9718    77.5965          0.0
1          SodaBottleOpenerWala   12.9706    77.5976          0.0
2                       Toscano   12.9718    77.5959          0.0
3  Alba - JW Marriott Bengaluru   12.9719    77.5951          0.0
4                         Skyye   12.9716    77.5962          0.0
5                    Farzi Cafe   12.9723    77.5962          0.0
6                The Biere Club   12.9710    77.5975          0.0
7                      Rasovara   12.9720    77.5964          0.0
8              Glen's Bakehouse   12.9698    77.5975          0.0
9                       Sanchez   12.9719    77.5962          0.0

   rank_distance  dense_rank_distance
0              1                    1
1              1                    1
2              1                    1
3              1                    1
4              1                    1
5              1                    1
6              1                    1
7              1                    1
8              1                    1
9              1                    1

In [45]:
df_results.to_csv(r"C:\Users\loges\Downloads\restraunt\nearest restaurant.csv", index=False)
print("Results saved successfully! ðŸŽ‰")

Results saved successfully! ðŸŽ‰